*                  text=auto

# Visual Studio
*.rc			   text eol=crlf
*.vcproj           text eol=crlf
*.vcxproj          text eol=crlf
*.vcxproj.filters  text eol=crlf
*.sln              text merge=union eol=crlf
